* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 28px;
    color: #ffffff
}

.container {
    margin: auto; 
    height: 750px;
    width: 500px;
    background-color: #444b55;
    border: 2px solid #1f2937;
    border-radius: 15px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}

.operators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
}

.equal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
}

button {
    height: 100px;
    width: 100px;
    border: 2px solid #444b55;
    border-radius: 10px;
    opacity: 0.7;
}

button:hover {
    opacity: 1;
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.stretch {
    flex: 2;
    align-content: flex-start;
    justify-content: flex-start;
}

.display {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 25px 0px;
    background-color: rgb(156, 156, 156);
    border-radius: 5px;
}

.main-display {
    height: 100px;
    padding: 25px 0px;
    margin-bottom: 15px;
    border: 1px solid rgb(156, 156, 156);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    justify-content: flex-end;
    
}
.top-display {
    height: 50px;
    justify-content: flex-end;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

span {
    align-self: flex-end;
    font-size: 36px;
}

.display-value {
    align-self: flex-start;
    font-size: 24px;
    padding-right: 5px;
}

.display-operator {
    align-self: flex-start;
    font-size: 24px;
    padding-right: 5px;
}

#clear {
    background-color: #f58985;
}

#clear-entry {
    background-color: #f58985;
}

.number {
    background-color: rgb(156, 156, 156);
}

